api_login_route:
    path: /login
    methods: ['POST']

api_confirm_email:
    path: /users/token/{token}
    methods: ['GET']
    controller: App\Controller\ConfirmUserEmail::confirmUser

api_resend_email:
    path: /users/resend-email
    methods: ['POST']
    controller: App\Controller\ConfirmUserEmail::sendNewEmailConfirmation


api_dahsboard_stats:
    path: /dashboard/stats
    methods: ['GET']
    controller: App\Controller\MainDashboardStats::getStats
   
