security:

    #enable_authenticator_manager: true

    providers:
        user_provider:
            entity:
                class: App\Entity\User
                #property: email

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: user_provider
            security: true
            json_login:
                check_path: api_login_route
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
            stateless: true
            jwt: ~

    role_hierarchy:
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
        ROLE_ADMIN: [ROLE_EMPLOYEE, ROLE_USER]
        ROLE_EMPLOYEE: [ROLE_USER]
        ROLE_USER: []

    access_control:
        - { path: ^/docs, roles: PUBLIC_ACCESS }
        - { path: ^/companies$, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/stores$, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/services$, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/bookings$, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/companies/\d+$, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/stores/\d+$, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/stores/\d+/schedules, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/users/\d+/schedules, roles: PUBLIC_ACCESS, methods: GET }
        - { path: ^/stores/\d+/services, roles: PUBLIC_ACCESS, methods: GET }
        - { path: '^/users/token/.+$', roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }
        - { path: '^/forgot_password', roles: PUBLIC_ACCESS }
        - { path: ^/users, roles: PUBLIC_ACCESS, methods: POST }
        - { path: ^/, roles: ROLE_USER }
        
when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: md5
                encode_as_base64: false
                iterations: 0