---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: odicylens-api
  labels:
    app: odicylens-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: odicylens-api
  template:
    metadata:
      labels:
        app: odicylens-api
    spec:
      containers:
        - name: odicylens-api
          imagePullPolicy: Always
          image: popokola/odicylens-api
          ports:
            - containerPort: 443
---
apiVersion: v1
kind: Service
metadata:
  name: odicylens-api-service
spec:
  selector:
    app: odicylens-api
  ports:
    - protocol: TCP
      port: 443
      targetPort: 433
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: odicylens-api-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  ingressClassName: nginx
  rules:
    - host: api.odicylens.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: odicylens-api-service
                port:
                  number: 433

