name: Build and Publish Docker Image

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the workflow on
    paths-ignore:
      - 'infra/environments/prod/odicylens-api/.argocd-source-odicylens-api.yaml'

jobs:
  build_and_publish_docker_image:
    runs-on: ubuntu-latest

    env:
      APP_ENV: ${{ secrets.APP_ENV }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      CORS_ALLOW_ORIGIN: ${{ secrets.CORS_ALLOW_ORIGIN }}
      DATABASE_VERSION: ${{ secrets.DATABASE_VERSION }}
      MERCURE_JWT_SECRET: ${{ secrets.MERCURE_JWT_SECRET }}
      MERCURE_PUBLIC_URL: ${{ secrets.MERCURE_PUBLIC_URL }}
      MERCURE_URL: ${{ secrets.MERCURE_URL }}
      TRUSTED_PROXIES: ${{ secrets.TRUSTED_PROXIES }}
      TRUSTED_HOSTS: ${{ secrets.TRUSTED_HOSTS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get the latest Docker image tag
        id: get_latest_tag
        run: |
          LATEST_TAG=$(curl -s "https://registry.hub.docker.com/v2/repositories/popokola/odicylens-api/tags" | jq -r '.results[].name' | grep -E '^v0\.1\.[0-9]+$' | sort -rV | head -n 1)
          CURRENT_X=${LATEST_TAG#v0.1.}
          NEW_X=$((CURRENT_X + 1))
          echo "::set-output name=NEW_TAG::v0.1.$NEW_X"

      - name: Generate .env File
        run: |
          echo "APP_ENV=${{ secrets.APP_ENV }}" >> ./server/api/.env
          echo "APP_SECRET=${{ secrets.APP_SECRET }}" >> ./server/api/.env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> ./server/api/.env
          echo "CORS_ALLOW_ORIGIN=${{ secrets.CORS_ALLOW_ORIGIN }}" >> ./server/api/.env
          echo "DATABASE_VERSION=${{ secrets.DATABASE_VERSION }}" >> ./server/api/.env
          echo "MERCURE_JWT_SECRET=${{ secrets.MERCURE_JWT_SECRET }}" >> ./server/api/.env
          echo "MERCURE_PUBLIC_URL=${{ secrets.MERCURE_PUBLIC_URL }}" >> ./server/api/.env
          echo "MERCURE_URL=${{ secrets.MERCURE_URL }}" >> ./server/api/.env
          echo "TRUSTED_HOSTS=^(localhost|php|api\.odicylens\.com)$" >> ./server/api/.env
          echo "TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,104.16.0.0/13,104.24.0.0/14,108.162.192.0/18,131.0.72.0/22,141.101.64.0/18,162.158.0.0/15,172.64.0.0/13,173.245.48.0/20,188.114.96.0/20,190.93.240.0/20,197.234.240.0/22,198.41.128.0/17" >> ./server/api/.env

      - name: Build and push Docker image for odicylens-api
        uses: docker/build-push-action@v2
        with:
          context: ./server/api
          file: ./server/api/Dockerfile
          push: true
          tags: popokola/odicylens-api:${{ steps.get_latest_tag.outputs.NEW_TAG }}

        
