name: Build and Publish Docker Image

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the workflow on

jobs:
  build_and_publish_docker_image:
    runs-on: ubuntu-latest

    env:
      APP_ENV: ${{ secrets.APP_ENV }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      CORS_ALLOW_ORIGIN: ${{ secrets.CORS_ALLOW_ORIGIN }}
      JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
      JWT_PUBLIC_KEY: ${{ secrets.JWT_PUBLIC_KEY }}
      JWT_PASSPHRASE: ${{ secrets.JWT_PASSPHRASE }}
      DATABASE_VERSION: ${{ secrets.DATABASE_VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get the latest Docker image tag
        id: get_latest_tag
        run: |
          TAG=$(curl -s "https://registry.hub.docker.com/v2/repositories/popokola/odicylens-api/tags/latest" | jq -r '.name')
          TAG=${TAG#v0.1.}  # Remove the version prefix
          TAG=$((TAG + 1))
          echo "::set-output name=NEW_TAG::v0.1.$TAG"

      - name: Generate .env File
        run: |
          echo "APP_ENV=${{ secrets.APP_ENV }}" >> ./server/.env
          echo "APP_SECRET=${{ secrets.APP_SECRET }}" >> ./server/.env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> ./server/.env
          echo "CORS_ALLOW_ORIGIN=${{ secrets.CORS_ALLOW_ORIGIN }}" >> ./server/.env
          echo "JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}" >> ./server/.env
          echo "JWT_PUBLIC_KEY=${{ secrets.JWT_PUBLIC_KEY }}" >> ./server/.env
          echo "JWT_PASSPHRASE=${{ secrets.JWT_PASSPHRASE }}" >> ./server/.env
          echo "DATABASE_VERSION=${{ secrets.DATABASE_VERSION }}" >> ./server/.env

      - name: Build and push Docker image for odicylens-api
        uses: docker/build-push-action@v2
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: popokola/odicylens-api:${{ steps.get_latest_tag.outputs.NEW_TAG }}

      - name: Run all migrations
        run: |
          docker run --rm \
            --env-file ./server/.env \
            popokola/odicylens-api:${{ steps.get_latest_tag.outputs.NEW_TAG }} \
            bin/console doctrine:migrations:migrate -n --env=APP_ENV
        
        